<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- mobile device support! -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="zixu Space Station">
  <title>{{title}}</title>

  <!-- 引入vue -->
  <script src="/static/js/vue.js"></script>

  <script src="/static/js/jquery-3.3.1.js"></script>

  <script src="/static/js/bootstrap.min.js"></script>
  <!-- 引入socket.io -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- 引入axios.js -->
  <script src="/static/js/axios.min.js"></script>

  <link rel="stylesheet" href="/static/css/bootstrap.css">

  <link rel="stylesheet" href="/static/css/zixu.css">

  <!-- 自己的js -->
  <script>
    $(function () {
      $("#myBar li").click(function (e) {
        // e.preventDefault()
        // $(this).tab('show')      
        // window.location.href = 'http://localhost:3000' + $(this).children('a').attr('href')
      })
    })
  </script>
</head>

<body>
  <div class="head">
    <nav class="navbar navbar-default">
      <div class="container-fluid" style="width:92%; margin:auto;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">子胥</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">HOME</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/message">Message</a>
            </li>
            <li>
              <a href="/note">Note</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if isLogin %}
              <a href="/user">{{user}}</a>
              {% else %}
              <a href="/signin">登陆/注册</a>
              {% endif %}
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-align-justify"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">个人</a>
                </li>
                <li>
                  <a href="#">联系</a>
                </li>
                <li>
                  <a href="#">友情连接</a>
                </li>
                {% if isLogin %}
                <li role="separator" class="divider"></li>
                <li>
                  <a href="../signout">登出</a>
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  {% block main %}{% endblock %}
</body>

</html>