{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="jumbotron">
        <h1>Here is ZIXU workspace!</h1>
        <p>ZIXU workspace is used to record the ideas and actions.</p>
        <p>
            I want to do somethings special. not traditional! I like font-end coding. I want to have a my own website, I started to learn
            html, css, javascript since 2014, and after that, I determined that I will go to work on this filed. hoping get
            friends all like font-end.
        </p>
        <p>
            what I major in is js games(egret), webapp(vue).
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail container-fluid">
                <!-- <img src="..." alt="..."> -->
                <div class="caption col-xs-6">
                    <h3>Web App</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">learn</a>
                        <a href="#" class="btn btn-default" role="button">practice</a>
                    </p>
                </div>
                <div class="col-xs-6">
                    <img class="" style="width:100%;margin:auto" src="/static/img/vue.png" alt="">
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail container-fluid">
                <!-- <img src="..." alt="..."> -->
                <div class="caption col-xs-6">
                    <h3>Egret Games</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">learn</a>
                        <a href="#" class="btn btn-default" role="button">practice</a>
                    </p>
                </div>
                <div class=" col-xs-6">
                    <img class="" style="width:100%;margin:auto" src="/static/img/egret.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}