{% extends "base.html" %} {% block main %}
<div class="container" id="content" style="width:800px; height:500px; background: #f3f3f3; margin:auto;">
    <div class="row" style="background-color:#d4e5ec">
        <div class="col-sm-8" style="height:500px; padding-left: 0;padding-right:0">
            <div id="message" style="height:400px; border:solid;  border-color:blueviolet; padding-left: 10px; padding-top: 10px;">
                here is message window
            </div>
            <!-- <form id="send-form"> -->
            <form action="#">
                <div class="input-group" style="width: 100%; height: 100px; position:absolute; bottom:0;border:solid; border-color:blueviolet;">
                    <textarea type="text" id="send-message" class="form-control" style="height:100%"></textarea>
                    <div class="input-group-btn" style="height:100%">
                        <button class="btn btn-default" id="helpBtn" style="height:100%">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <button class="btn btn-default" type="submit" style="height:100%; background-color:#dfb5b7">Send</button>
                    </div>
                </div>
            </form>
            <!-- </form> -->
        </div>
        <div class="col-sm-4" style="height:500px; border:solid; border-color:blueviolet">
            here is user list window
        </div>
    </div>
</div>
<div id="help" style="margin:auto; width:90%; display:none;">
    <ul>
        Chat commands:
        <li>Change nickname:
            <code>/nick [username]</code>
        </li>
        <li>Join/create room:
            <code>/join [room name]</code>
        </li>
    </ul>
</div>

<script>
    $(document).ready(() => {
        $("#helpBtn").click(() => {
            $("#help").fadeToggle();
        });

        let ws = new WebSocket('ws://localhost:3000/test');

        ws.onopen = () => {
            console.log(`[CLIENT] open`);
            ws.send('webSoket is working!');
        };

        // 响应收到的消息:
        // ws.on('message', function (message) {
        //     console.log(`[CLIENT] Received: ${message}`);
        // });
        ws.onmessage = () => {
            console.log('this message means webSoket is working!');
        };
    });
</script> {% endblock %}