{% extends "base.html" %} {% block main %}

<div id="msgApp" class="container row">
    <div id="userInfo" class="col-sm-1">
        <div id="userLogo">
            <div>
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </div>
        <div id="msgRoom">
            <div>
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
        </div>
        <div id="structure">
            <div>
                <span class="glyphicon glyphicon-heart"></span>
            </div>
        </div>
        <div id="setting">
            <div>
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
    <div id="roomList" class="col-sm-3 panel panel-info" style="height:500px ">
        <select multiple>
            <option v-for="each in friendsList" v-on:click="changeTo" :value = "each.user" v-text="each.user"></option>
        </select>
    </div>
    <div id="msgMain" class="col-sm-8" style="height:500px; padding-left: 0; padding-right:0">
        <div class="panel panel-info">
            <div class="panel-heading" style="height:50px; background-color:#f2ede6">Message</div>
            <div class="panel-body" id="message">
                <div v-for="item in msgData" class="row">
                    <my-sentmsg v-if="item.fromUser === userN" :pardata="item"></my-sentmsg>
                    <my-getmsg v-else :pardata="item"></my-getmsg>
                </div>
            </div>
        </div>

        <div class="input-group" style="width: 100%; height: 100px; position:absolute; bottom:0" v-on:keyup.enter="sendMsg">
            <textarea class="form-control" style="height:100%" v-model="inputMsg"></textarea>
            <div class="input-group-btn" style="height:100%">
                <button class="btn btn-default" style="height:100%" v-on:click="sendMsg">Send</button>
            </div>
        </div>

    </div>

</div>

<script>

    //写cookies 
    function setCookie(name, value) {
        var Days = 1;
        var exp = new Date()
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString()
    }

    //读取cookies 
    function getCookie(c_name) {
        if (document.cookie.length > 0) {　　//先查询cookie是否为空，为空就return ""
            c_start = document.cookie.indexOf(c_name + "=")　　//通过String对象的indexOf()来检查这个cookie是否存在，不存在就为 -1　　
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1　　//最后这个+1其实就是表示"="号啦，这样就获取到了cookie值的开始位置
                c_end = document.cookie.indexOf(";", c_start)　　//其实我刚看见indexOf()第二个参数的时候猛然有点晕，后来想起来表示指定的开始索引的位置...这句是为了得到值的结束位置。因为需要考虑是否是最后一项，所以通过";"号是否存在来判断
                if (c_end == -1) c_end = document.cookie.length
                console.log(document.cookie.substring(c_start, c_end))
                return unescape(document.cookie.substring(c_start, c_end))　　//通过substring()得到了值。想了解unescape()得先知道escape()是做什么的，都是很重要的基础，想了解的可以搜索下，在文章结尾处也会进行讲解cookie编码细节
            }
        }
        return ''
    }

    $(function () {
        var username = getCookie('username') || 'undefined'
        var client = io()//如果url不指定，将默认连接当前的页面的url

        //模拟database存储的用户信息。
        var database = {
            friendsList: ['1', 'abc', '111']
        }

        client.on('connect', () => {
            client.emit('getOnline', {
                //发送登陆服务器的消息，在服务器端将用户的socket连接写入socketsPool
                username: username
            })
        })

        client.on('to' + username, (msg) => {
            //侦听一个toUsername事件，表示有消息发到用户端
            console.log('client receive message' + msg)
            msgApp.msgData.push(msg)
        })

        var getmsg = {
            props: ['pardata'],
            template:
                '<div style="margin-top:10px;">\
                    <div class="col-xs-1" style="padding-top:5px; padding-bottom: 5px;">\
                        <div id="eachUser">\
                            <div v-text="pardata.fromUser">123</div>\
                        </div>\
                    </div>\
                    <div class="col-xs-11" style="padding-right:15px; padding-left: 0px; ">\
                        <div class="greencomment" v-text="pardata.content">aaa</div>\
                    </div>\
                </div>'
        }

        var sentmsg = {
            props: ['pardata'],
            template:
                '<div style=" margin-top:10px;">\
                    <div class="col-xs-11" style="padding-right:0px; padding-left: 15px;">\
                        <div class="comment" v-text="pardata.content" style="text-align: right;">aaa</div>\
                    </div>\
                    <div class="col-xs-1" style="padding-top:5px; padding-bottom: 5px;">\
                        <div id="eachUser">\
                            <div v-text="pardata.fromUser">123</div>\
                        </div>\
                    </div>\
                </div>'
        }

        var msgApp = new Vue({
            el: '#msgApp',
            data: {
                selectedUser: 'default',
                userN: '',
                msgData: [],
                inputMsg: '',
                friendsList: ['默认1', '默认2']
            },
            components: {
                'my-getmsg': getmsg,
                'my-sentmsg': sentmsg
            },
            created: function () {
                console.log('vue is working')
                this.userN = username
                this.friendsList = database.friendsList
                axios.get('/api/userlist').then(
                    (response) => {
                        console.log(response.data.content)
                        this.friendsList = response.data.content
                        this.selectedUser = this.friendsList[0].user
                    }
                )
            },
            watch: {
                'msgData': 'scrollToBottom'
            },
            methods: {
                sendMsg: function () {
                    //发送消息
                    var msg = {
                        toUser: this.selectedUser,
                        fromUser: username,
                        content: this.inputMsg
                    }
                    client.emit('message', msg)
                    this.msgData.push(msg)
                    this.inputMsg = ''
                },
                scrollToBottom: function () {
                    //保持消息页面始终在最底端
                    this.$nextTick(() => {
                        var el_height = $('#message')[0].scrollHeight
                        $('#message').scrollTop(el_height)
                    })
                },
                changeTo: function (event) {
                    //改变去信用户toUser
                    this.selectedUser = event.currentTarget.innerHTML
                    console.log(this.selectedUser)
                }
            },
        })

    })
</script> {% endblock %}