{% extends "base.html" %} {% block main %}
<div class="container" id="msgApp" style="width:800px; height:500px; background: #f3f3f3; margin:auto">
    <div class="row" style="background-color:#d4e5ec">
        <div class="col-sm-9" style="height:500px; padding-left: 0; padding-right:0">
            <div class="panel panel-info">
                <div class="panel-heading" style="height:50px;">Message</div>
                <div class="panel-body" id="message" style="height:350px; padding-left: 10px; padding-top: 10px; overflow-x:hidden; overflow-y:scroll;">
                    <div v-for="data in msgData" class="row">
                        <div class="col-xs-2" style="border-radius:10px; background:#f146c7" v-text="data.user"></div>
                        <div class="col-xs-10" v-text="data.rec"></div>
                    </div>
                </div>
            </div>

            <div class="input-group" style="width: 100%; height: 100px; position:absolute; bottom:0">
                <textarea class="form-control" style="height:100%" v-model="inputMsg"></textarea>
                <div class="input-group-btn" style="height:100%">
                    <button class="btn btn-default" style="height:100%" v-on:click="sendMsg()">Send</button>
                </div>
            </div>

        </div>
        <div class="col-sm-3" style="height:500px ">
            here is user list window
        </div>
    </div>
</div>


<script>
    $(function () {
        let ws = new WebSocket('ws://localhost:3000/test')

        ws.onopen = () => {
            console.log(`[CLIENT] open`)
            ws.send('client is working! how about server')
        }

        ws.onmessage = (event) => {
            var message = event.data
            console.log('client receive message' + message)
            msgContent = JSON.parse(message)
            msgApp.msgData.push({
                type: msgContent.type,
                rec: msgContent.data,
                user: msgContent.user
            })
            var div = document.getElementById("message")
            div.scrollTop = div.scrollHeight
        }

        var msgApp = new Vue({
            el: '#msgApp',
            data: {
                msgData: [],
                inputMsg: ''
            },
            created: function () {
                console.log('vue is working')
            },
            methods: {
                "sendMsg": function () {
                    ws.send(this.inputMsg)
                    this.inputMsg = ''
                },
                "logMsg": function () {
                    console.log(this.msgData)
                }
            }
        })
    })
</script> {% endblock %}